body {
  background-color: #e7f6f2;
}
.jumbotron {
  padding-top: 5rem;
  background-color: #a5c9ca;
}

#projects {
  background-color: #a5c9ca;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

/* Liquid section */

.liquid-box {
  background-color: #395b64;
  position: relative;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.liquid-box::before {
  content: 'Saltnic';
  position: absolute;
  color: #fff;
  font-size: 4em;
  font-weight: bold;
  font-style: italic;
  top: 38px;
  left: 50%;
  transform: translate( -50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.liquid-box:hover::before {
  opacity: 0.2;
}

.liquid-box::after {
  content: '48mg';
  position: absolute;
  color: #fff;
  font-size: 2.5em;
  font-weight: bold;
  font-style: italic;
  top: 380px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.liquid-box:hover::after {
  opacity: 0.2;
}

.liquid-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0,0,50px);
  transition: 0.5s;
}

.liquid-box:hover .liquid-name {
  top: 18px;
  opacity: 1;
}

.liquid-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
}

.liquid-box:hover .liquid-detail-button{
  opacity: 1;
  bottom: 20px;
}

.liquid-img {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate3d(-50%, -51%, 90px);
  max-width: 350px;
  transition: 0.5s;
  z-index: 10;
}

.liquid-box:hover .liquid-img {
  transform: translate3d(-50%, -50%,90px) rotate(5deg) scale(1.2);
}